@{
    ViewBag.Title = "Add";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div>
    <label for="Name">Name</label>
    <input type="text" name="name" value="" placeholder="Name" />
</div>

<div>
    <label for="Price">Price</label>
    <input type="number" name="price" value="" placeholder="0" />
    <label for="currency"> €</label>
</div>

<div>
    <label for="ImgPath">Price</label>
    <input type="text" name="imgPath" value="" />
</div>

<button name="AddButton" onclick="">Add</button>

<p>Use this area to provide additional information.</p>
