@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WELCOME</h1>
    <img src="https://cdn.discordapp.com/attachments/585752880741482509/585795279492481045/tenor.gif" alt="Twerking Patrick" />
    <img src="https://cdn.discordapp.com/attachments/585752880741482509/585795279492481045/tenor.gif" alt="Twerking Patrick" />
    <img src="https://cdn.discordapp.com/attachments/585752880741482509/585795279492481045/tenor.gif" alt="Twerking Patrick" />
    <img src="https://cdn.discordapp.com/attachments/585752880741482509/585795279492481045/tenor.gif" alt="Twerking Patrick" />
    <img src="https://cdn.discordapp.com/attachments/585752880741482509/585795279492481045/tenor.gif" alt="Twerking Patrick" />
    <img src="https://cdn.discordapp.com/attachments/585752880741482509/585795279492481045/tenor.gif" alt="Twerking Patrick" />
    <img src="https://cdn.discordapp.com/attachments/585752880741482509/585795279492481045/tenor.gif" alt="Twerking Patrick" />
    <img src="https://cdn.discordapp.com/attachments/585752880741482509/585795279492481045/tenor.gif" alt="Twerking Patrick" />
    <img src="https://cdn.discordapp.com/attachments/585752880741482509/585795279492481045/tenor.gif" alt="Twerking Patrick" />
    <img src="https://cdn.discordapp.com/attachments/585752880741482509/585795279492481045/tenor.gif" alt="Twerking Patrick" />
    <img src="https://cdn.discordapp.com/attachments/585752880741482509/585795279492481045/tenor.gif" alt="Twerking Patrick" />
    <img src="https://cdn.discordapp.com/attachments/585752880741482509/585795279492481045/tenor.gif" alt="Twerking Patrick" />
    <img src="https://cdn.discordapp.com/attachments/585752880741482509/585795279492481045/tenor.gif" alt="Twerking Patrick" />
    <img src="https://cdn.discordapp.com/attachments/585752880741482509/585795279492481045/tenor.gif" alt="Twerking Patrick" />
    <img src="https://cdn.discordapp.com/attachments/585752880741482509/585795279492481045/tenor.gif" alt="Twerking Patrick" />
    <img src="https://cdn.discordapp.com/attachments/585752880741482509/585795279492481045/tenor.gif" alt="Twerking Patrick" />
    <img src="https://cdn.discordapp.com/attachments/585752880741482509/585795279492481045/tenor.gif" alt="Twerking Patrick" />
    <img src="https://cdn.discordapp.com/attachments/585752880741482509/585795279492481045/tenor.gif" alt="Twerking Patrick" />
    <img src="https://cdn.discordapp.com/attachments/585752880741482509/585795279492481045/tenor.gif" alt="Twerking Patrick" />
    <img src="https://cdn.discordapp.com/attachments/585752880741482509/585795279492481045/tenor.gif" alt="Twerking Patrick" />
</div>